* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

/* Common */
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  min-width: 98px;
  font-weight: 500;
  padding: 18px 16px;
  font-size: 1.4rem;
  border-radius: 12px;
  background: var(--primary-color);
  color: white;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar ul a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #4f5361;
  font-weight: 500;
  padding: 0 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .action-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  margin-right: 18px;
}

.navbar .action-btn {
  padding: 13px 16px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 50.4%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.hero .tittle {
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19; /* 118.75% */
  margin-top: 8px;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2;
}

.hero .hero-cta {
  margin-top: 40px;
  min-width: 170px;
}

.hero .hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* Clients */
.clients {
  margin-top: 122px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .row .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.clients .customers {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}

/* Guides */

.guides {
  margin-top: 200px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.guides .sub-title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;

  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  margin: 20px auto 0px;
  width: 459px;
  max-width: 100%;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1, 875; /* 187.5% */
}

.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0px 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}

.guide-item .arrow {
  margin-left: 8px;
}

.guides-cta {
  display: flex;
  justify-content: center;
  margin: 50px 0px 120px;
}

.guides-cta .btn {
}
